#Ici c'est l'URL ou le driver de base de la base de donneés
DATABASE_URL=

#Ici , c'est tout ce qui est en rapport avec les paquets du JSON Web Token(JWT) en utlisant l'algo ...
SECRET_KEY=
ALGORITHM=
ACCES_TOKEN_EXPIRE_MINUTES=

# les variables en raport avec mon application qui vont changer si je suis en prod
ENV=development
DEBUG=true
ALLOWED_ORIGINS=